
body {
    background-color: rgb(98, 191, 148);
   margin-left: 160px;
   font-family: 'Martel Sans', sans-serif;
   margin-right:100px;
}
.header {
    margin-left: -80px;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    margin-right: 1300px;
    text-align: center;
    font-size: 40px;
    color: #2d2d2ec4;;
    border-color: #2d2d2ec4;
    display: flex;
    justify-content: flex-start;
    
    
}
a {
    color:white;
    text-decoration: none;
    font-size: 30px;
}
a:hover {
    color:  #8c1cf573;
}
.navigatie {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    border-style: solid;
    border-color: white;
    padding: 10px;
    margin-right: 50px;
    color: white;
}

h1 {
    color: #8c1cf573;
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    margin-left: 350px;
    margin-top: -210px;
    text-align: center;
    margin-bottom: 100px;
}
h2 {
    color: white;
    font-family: sans-serif;
    font-size: 40px;
}
ul {
    color: white;
    font-size: 25px;
    list-style-type: square;
}
p {
    color: white;
    font-size: 25px;
}
.woordje {
    font-weight: bold;
}
.algemeen {
    margin-top: 50px;
    padding-top: 60px;
    border-style: solid;
    border-color: white;
    padding-bottom: 60px;
    padding-right: 10px;
    margin-right: 240px;
    padding-left: 20px;
}
.opleiding {
    margin-left: 420px;
    margin-top: 50px;
    padding-top: 60px;
    border-style: solid;
    border-color: white;
    padding-bottom: 60px;
    padding-right: 100px;
    padding-left: 20px;
    
}
.werkervaring {
    margin-top: 50px;
    padding-top: 60px;
    border-style: solid;
    border-color: white;
    padding-bottom: 60px;
    padding-right: 10px;
    margin-right: 240px;
    padding-left: 20px;
   
}
.vaardigheden {
    margin-left: 420px;
    margin-top: 50px;
    padding-top: 60px;
    border-style: solid;
    border-color: white;
    padding-bottom: 60px;
    padding-right: 10px;
    padding-left: 20px;
    
}
.interesses {
    margin-top: 50px;
    padding-top: 60px;
    border-style: solid;
    border-color: white;
    padding-bottom: 60px;
    padding-right: 10px;
    margin-right: 240px;
    padding-left: 20px;
  
}
.toekomst {

    margin-left: 420px;
    margin-top: 50px;
    padding-top: 60px;
    border-style: solid;
    border-color: white;
    padding-bottom: 60px;
    padding-right: 100px;
    padding-left: 20px;
   
}

.container {
    border-style: solid;
    border-color: white;
    margin-top: 50px;
    margin-right: 240px;
    
}
.P {
    margin-left: 20px;
}
.foto_0 {
    margin-left: 40px;
}
.foto-1 {
    margin-left: 600px;
    margin-top: 50px;
}
.foto-2 {
    margin-top: 50px;
    margin-left: 40px;
}
.foto-3 {
    margin-left: 600px;
    margin-top: 50px;
}
.foto-4 {
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 30px;
}


